<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="propeller" content="d6500f601f7df36dedebdb2e10b94a3c">
</head>
<title>MoviesNew</title>

<body>
    <div>
        <h3><b>MoviesNew</b></h3>
        {{title}} <br>
        <form id="form">
            <input name="address" placeholder="Enter video ID">
            <button>Search</button>
        </form>
        <p id="Error"></p>
        <p id="Data"></p>
    </div>
    </p>
    <script>
        const weatherform = document.querySelector('form')
        const search = document.querySelector('input')

        weatherform.addEventListener('submit', (e) => {
            e.preventDefault()
            console.log(search.value)
            const link = '/share-video?videoid=' + search.value
        });
    </script>
    <script src="https://phicmune.net/pfe/current/tag.min.js?z=4565255" data-cfasync="false" async></script>
</body>

</html>